source https://nuget.org/api/v2

storage:none
nuget Fable.Elmish.HMR
nuget FSharp.Core
nuget Fable.Core
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Expecto
nuget FsCheck 3.0.0-alpha3
nuget Argu 3.7
clitool dotnet-fable
nuget NETStandard.Library.NETFramework 2.0.0-preview2-25405-01 preview
nuget System.IO.Compression
nuget System.IO.Compression.Zipfile

clitool dotnet-fantomas 2.7.1
nuget Stanford.NLP.Parser.Fsharp
http http://nlp.stanford.edu/software/stanford-parser-full-2013-06-20.zip